/* Website color scheme
*Color 1 (Fun Blue): #125DA7
*Color 2 (American Turqouise): #2D9FDA
*Color 3 (Fresh Air): #A6EDFD*/

@font-face {
    font-family: Baseball;
    src: url(Baseball.otf);
}

@font-face {
    font-family: Beach;
    src: url(Beach.ttf);
}

body {
    font-family: Beach, Wavy, cursive;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
}

section, footer {
    padding: 3em 6em;
}

h1, h2, h3, h4 {
    font-family: Baseball, cursive, fantasy;
     letter-spacing: 2.5px;
     text-align: center;
}

h1 {
    font-size: 3.5em;
    text-overflow: 2px 2px #000000;
}

h2 {
    font-size: 3em;
}

h3 {
   font-size: 2em;
}

/* Header Style */
header{
   background-color: #ff00d4;
   display: flex;
   justify-content: space-between;
   padding: .5em;
}

header img {
       max-width: 200px;
}

#logo {
    border-radius: 50px;
}

nav li a, nav a:visited{
    color: #bbff00;
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover {
    color: #000000;
    font-size: 1.5em;
}

nav a:active {
    color: rgb(20, 199, 154);
    font-size: 1.75em;
}

nav ul {
    margin-top: 3em;
    margin-right: 1.5em;
}

nav li {
    display: inline;
    padding: .75em;
}

.btn, .btn:visited {
    background-color: black;
    color: blue;
    border: 5px solid #ff00d4;
    border-radius: 15px;
    font-size: 1.25em;
    padding: .5em 1em;
}

.btn:hover {
    background-color:black;
    color: blue;
}

#hero {
    background-image: url(TuffBaseball.jpg);
    color: #ff00d4;
    text-align: center;
    height: 60vh;
}

#btn-banner {
    text-align: center;
}

#Guide {
background-color:blue;
color: #ff00d4;
font-size: 1.25em;
}

#Guide .flex-item {
    flex: 33%;
}

#Guide img {
    display: block;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: auto;
    padding-bottom: 20px;
}

#Guide p {
    max-width: 75%;
    margin: auto;
    text-align: center;
}

#about {
    background-color: black;
    color: blue;
    font-size: 1.25em;
}

#about img {
    border: 5px dashed #ff00d4;
    max-width: 200px;
    }

#about .flex-item{
    flex: 48%;
    margin-top: 1em;
}


#info {
    background-color:blue
}

#info img {
    border: 3px groove black;
    border-radius: 50px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

#info i {
    color: #ff00d4;
    float: left;
    margin-right: 10px;
}

#info .flex-item {
    flex: 48%;
}

#btn-banner {
    background-color: #00eeff;
    color: black; 
    text-align: center;
    padding-top: .5em;
}

#image-banner {
    background-color: black;
}

#image-banner img {
    margin: auto;
    width: 150px
}

/* Footer Style*/
footer{
     Background-color: #ff00d4;
     color: black;
     text-align: center;
     padding: .5em 0em;
}

footer li {
    display: inline;
}

footer i {
    font-size: 2.5em;
    margin-right: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 5%;
}

.flex-container img {
    width: 100%;
}

#gallery-page h1 {
    letter-spacing: 2px;
    text-shadow: 3px 3px blue;
    margin: 0;
    font-size: 2.5em;
}

.img-gallery {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}