/* Website color scheme
*Color 1 (Fun Blue): #125DA7
*Color 2 (American Turqouise): #2D9FDA
*Color 3 (Fresh Air): #A6EDFD*/

@font-face {
    font-family: Baseball;
    src: url(Baseball.otf);
}

@font-face {
    font-family: Beach;
    src: url(Beach.ttf);
}

body {
    font-family: Beach, Wavy, cursive;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: Baseball, cursive, fantasy;
     letter-spacing: 2.5px;
     text-align: center;
}

h1 {
    font-size: 3.5em;
    text-overflow: 2px 2px #000000;
}

h2 {
    font-size: 3em;
}

h3 {
   font-size: 2em;
}

/* Header Style */
header{
   background-color: #ff00d4;
   display: flex;
   justify-content: space-between;
}

header img {
       max-width: 200px;
}

#logo {
    border-radius: 50px;
}

nav li a, nav a:visited{
    color: #bbff00;
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover {
    color: #000000;
    font-size: 1.5em;
}

nav a:active {
    color: rgb(20, 199, 154);
    font-size: 1.75em;
}

nav li {
    display: inline;
}

.btn, .btn:visited {
    background-color: black;
    color: blue;
    border: 5px dotted #ff00d4;
    border-radius: 15px;
    font-size: 1.25em;
}

.btn:hover {
    background-color:black;
    color: blue;
}

#hero {
    background-image: url(TuffBaseball.jpg);
    color: #ff00d4;
    text-align: center;
}

#Guide {
background-color:blue;
color: #ff00d4;
font-size: 1.25em;
}

#Guide flex-item {
    flex: 33%;
}

#Guide img {
    display: block;
    max-height: 300px;
    max-width: 250px;
}

#about {
    background-color: black;
    color: blue;
    font-size: 1.25em;
}

#about img {
    border: 5px dashed #ff00d4;
}

#about flex-item{
    flex: 48%;
}


#info {
    background-color:blue
}

#info img {
    border: 3px groove black;
    border-radius: 50px;
    max-width: 250px;
    max-height: 300px;
}

#info i {
    color: #ff00d4;
    float: left;
}

#info flex-item {
    flex: 48%;
}

#btn-banner {
    background-color: #ff00d4;
    color: black; 
}

#image-banner {
    background-color: black;
}
/* Footer Style*/
footer{
     Background-color: #ff00d4;
     color: black;
     text-align: center;
}

footer li {
    display: inline;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 5%;
}

.flex-container img {
    width: 100%;
}